/* Old site's CSS */
footer {
    margin: 40px;
}

li a {
	cursor: default;
}

* {
	cursor: default;
	transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
} *:hover  {
	transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
a.btn {
	cursor: default;
}
.nav-sidebar {
    width: 100%;
    padding: 40px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.not-default {
    display: none;
}

/* Each button has the same black, 30% opacity shadow. You can style them individually if you wish! */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    -webkit-box-shadow: 1px 2px 0px #585858;
    -moz-box-shadow:    1px 2px 0px #585858;
    box-shadow:         1px 2px 0px #585858;
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    margin-top: 3px;
    margin-bottom: -3px;
}

.modal-dialog {
    width: 90%;
    color: #000;
    font-size: 20px;
    padding: 20px;
}

.frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    z-index: 999;
}

.panel {
	background-color: #dddddd;
}

.panel-two {
	padding: 12px;
	padding-left: 15px;
}